.main{
    margin: 23vh auto;
}

#winner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table,
td {
    border: 6px solid black;
}

td {
    width: 8vw;
    height: 15vh;
}

button {
    width: 100%;
    height: 15vh;
}