* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#h1 {
    color: #d41099;
    text-align: center;
    font-size: 300%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 7%;
    margin-bottom: 4%;
    width: 100%;    
}

.span {
    color: white;
}

#h11 {
    color: black;
    font-size: 250%;
    margin-left: 1vw;
}

.mainn {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.image {
    background-image: url("../public/playground.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    filter: blur(8px);
    z-index: -1;
}

.main {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 36.5vw;
    margin-top: 13%;
}

#winner, #wins{
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#wins {
    margin-left: 1vw;   
}

#text {
    text-align: center;
    max-height: 6vh;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table,
td {
    border: 6px solid black;
    padding: 0;
}

td {
    width: 130px;
    height: 130px;
}

button {
    width: 100%;
    height: 100%;
}

.star {
    color: rgb(235, 202, 11);
    margin: 4px;
}

#reset {
    width: 20%;
    height: 65px;
    margin-top: 12vh;
    margin-left: 8vw;
    font-size: 200%;
    background-color: #e352b7;
    color: #FFFFFF;
    border-radius: 10px;
}

@media(device-width < 500px) {
    td {
        width: 100px;
        height: 100px;
    }
}