#h1 {
    color: #d41099;
    text-align: center;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 7%;
    margin-bottom: 4%;
    width: 100%;    
}

.span {
    color: white;
}

#h11 {
    color: rgb(18, 14, 15);
    font-size: 45px;
}

.mainn {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
}

.image {
    background-image: url("../public/playground.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    filter: blur(8px);
    z-index: -1;
}

.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 35vw;
    margin-top: 13%;
}

#winner, #wins{
    margin-top: 1vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

#wins {
    margin-left: 1vw;   
}

#text {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table,
td {
    border: 6px solid black;
    padding: 0;
}

td {
    width: 130px;
    height: 130px;
}

button {
    width: 100%;
    height: 100%;
}

#reset {
    width: 20%;
    height: 65px;
    margin-bottom: 50px;
    margin-left: 10px;
    font-size: 25px;
    background-color: #e352b7;
    color: #FFFFFF;
}

@media(device-width < 500px) {
    td {
        width: 100px;
        height: 100px;
    }
}